*.~*
*.7z
*.aps
*.dcu
*.ddp
*.ddp
*.dll
*.exe
*.exp
*.lib
*.local
*.ncb
*.obj
*.opensdf
*.opt
*.pdb
*.pdp
*.plg
*.sdf
*.suo
*.tds
*.user
*.zip
__history
bin
Debug
Debug_Ansi
Debug_Build
My Project
obj
Release
Release_Ansi
Release_Build
Thumbs.db
Win32
x64
*.ipch
MediaInfoLib.VC.db
*.opendb
/Project/*/ShellExtension/MediaInfoShellExt.h
/Project/*/ShellExtension/MediaInfoShellExt_i.c
/Project/*/ShellExtension/MediaInfoShellExt_p.c
*.psess
*.vsp
*.diagsession
*.VC.db
*.VC.db-shm
*.VC.db-wal

